<!DOCTYPE html>
<html>
<head>
    <title>Inicio</title>
</head>
<body>

<h1>Panel Principal</h1>

<p>Bienvenido {{ current_user.username }}</p>

<hr>

<ul>

{% if current_user.role == "admin" %}
    <li><a href="/admin">Administración</a></li>
    <li><a href="#">Ventas</a></li>
    <li><a href="#">Productos</a></li>
    <li><a href="#">Categorías</a></li>

{% elif current_user.role == "usuario" %}
    <li><a href="#">Ventas</a></li>
    <li><a href="#">Productos</a></li>
{% endif %}

</ul>

<br>

<a href="{{ url_for('auth.logout') }}">Cerrar sesión</a>

</body>
</html>