<!DOCTYPE html>
<html>
<head>
    <title>Crear Usuario</title>
</head>
<body>

<h1>Crear Usuario</h1>

<form method="POST">

<label>Usuario</label>
<br>
<input type="text" name="username" required>

<br><br>

<label>Password</label>
<br>
<input type="password" name="password" required>

<br><br>

<label>Rol</label>
<br>
<select name="role">

<option value="admin">Admin</option>
<option value="usuario">Usuario</option>

</select>

<br><br>

<button type="submit">Guardar</button>

</form>

<br>

<a href="/admin/usuarios">Volver</a>

</body>
</html>